body{
    background-image: linear-gradient(to right, rgb(68, 68, 223),  purple);
    display: flex;
    justify-content: center;
}

.conteudo{
    display: flex;
   background-color: white; 
   border-radius: 15px;
   width: 800px;
   height: 400px;
   margin-top: 195px;
}



img{
    width: 200px;
    height: 185px;
    margin-top: 128px;
    margin-left: 95px;
}

section{
    margin-left: 125px;
    margin-top: 95px;
}

input{
    border: none;
    background-color: rgb(223, 223, 223);
    margin-bottom: 5px;
    padding: 3%;
    padding-left: 15px;
    border-radius: 15px;
    font-weight: bolder;
}

button{
    margin-top: 15px;
    padding: 3%;
    border-radius: 15px;
    width: 198px;
    margin-left: 2px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgb(10, 136, 10);
}

.paragrafo{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.embaixo{
    margin-top: 55px;
    margin-left: 28px;
    font-size: 15px;
}

h1{
    margin-left: 20px;
    margin-bottom: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}